@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";


html{
    background-color: rgb(18, 8, 35);
    color: white;
    scroll-behavior: smooth;
}
*{
    font-family: "Bricolage Grotesque", sans-serif;
}